<div class="line-blueH"></div>
<div class="mainFooterContainer">
    <div class="leftFC">
        <h2><span class="eColor">E</span>manu<span class="eSColor">e</span>l</h2>
        <a (click)="impressum()">Impressum</a>
    </div>

    <div class="centerFC">
        <span>© Emanuel Schäfer 2024</span>
    </div>

    <div class="rightFC">
        <a href="https://github.com/EmanuelSchaefer">
            <img src="/assets/img/Github button.png">
        </a>
        <a href="mailto:emanuel-schaefer1@web.de">
            <img src="/assets/img/Email button.png">
        </a>
        <a href="https://www.linkedin.com/in/emanuel-sch%C3%A4fer/">
            <img src="/assets/img/Linkedin button.png">
        </a>
    </div>
</div>