.line-blueH {
    border: 2px solid rgba(0, 190, 232, 1);
}

.mainFooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 291px;
    background-color: rgba(20, 29, 47, 1);
    color: white;
}

.rightFC {
    display: flex;
    gap: 50px;

    img {
        cursor: pointer;
        transition: transform 0.1s ease-out;
        transform: scale(1);

        &:hover {
            transform: scale(1.2);
        }
    }
}

.centerFC {
    font-size: 23px;
}

.leftFC {
    display: flex;
    flex-direction: column;
    margin-top: 18px;

    h2 {
        font-size: 56px;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 23px;

        &:hover {
            color: rgba(0, 190, 232, 1);
        }
    }
}

.eColor {
    color: #4B47FF;
}

.eSColor {
    color: rgb(0, 190, 232);
}