<div class="line-blueH"></div>
<div class="mainFooterContainer">
    <div class="leftFC">
        <h2><span class="eColor">E</span>manu<span class="eSColor">e</span>l</h2>
        <a href="#">Impressum</a>
    </div>

    <div class="centerFC">
        <span>© Emanuel Schäfer 2024</span>
    </div>

    <div class="rightFC">
        <img href="https://github.com/EmanuelSchaefer" src="/assets/img/Github button.png">
        <img href="#" src="/assets/img/Email button.png">
        <img href="#" src="/assets/img/Linkedin button.png">
    </div>
</div>