<div class="About-Me" id="aboutMe">
    <div class="leftDiv-Text">
        <span>About me</span>
        <div class="mainLongText">
            <p>
                sdfdfsdfdssd sdffdsfdssdffdsfdf sdfddfdsdfd dsdfdsdf sd sdf dfssdfsd
                sddfdsfdsffds dfsdfdfd dfddfsdfd d sdf d dsdsdf sddf d fsdsf ds fsdf
                fdssfdsdfdfs d d ddsffdsdsf dfsdfs ds dsffdsfds sdfdf dfs dfsdf sf.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, rerum.
                Itaque sapiente dolore a neque? Quo commodi, blanditiis.
            </p>
            <div class="divCenter">
                <img src="/assets/img/bulb desktop.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, rerum.
                    Itaque sapiente dolore a neque? Quo commodi, blanditiis,
                    ipsa vero odio itaque vel fuga pariatur.
                </p>
            </div>
            <div class="divBelow">
                <img src="/assets/img/puzzle desktop.png">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Totam reiciendis soluta cum corrupti,
                    voluptatum adipisci fugiat qui excepturi repudiandae reprehenderit molestias.
                </p>
            </div>
        </div>
    </div>
    <div class="rightDiv-img">
        <div class="profileDiv">
            <div class="profileImg">
                <img src="">
            </div>
            <div class="lineForImg"></div>
        </div>
        <img class="right-img" src="/assets/img/Purple shadow (1).png">
    </div>
</div>