<div class="mainPortfolioContainer" id="portfolio">
    <div class="portfolioHeader">
        <div class="lineShort"></div>
        <span>Portfolio</span>
        <div class="lineLong"></div>
    </div>
    <p class="textSelection">Explore a selection of my work here - Interact with projects to see my skills in action.
    </p>

    <div class="projectsWrapper">
        <img class="imgDBlue" src="/assets/img/D. blue 2 P.png">
        <app-projects *ngFor="let projects of portfolio; let i = index"
            [projectPicture]="projects.projectPicture"
            [projectName]="projects.projectName"
            [projectLanguages]="projects.projectLanguages"
            [projectDescription]="projects.projectDescription"
            [projectLive]="projects.projectLive" 
            [projectGit]="projects.projectGit"
            [index]="i">
        </app-projects>
        <img class="imgLBlue" src="/assets/img/L. blue 2.png">
    </div>
</div>