.mainPortfolioContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    padding: 180px 0 100px 0px;
    overflow: hidden;
    color: white;

    p {
        margin-bottom: 18px;
    }
}

.portfolioHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 43px;

    span {
        font-size: 90px;
        font-weight: 700;
    }
}

.lineShort {
    border: 2px solid rgba(75, 71, 255, 1);
    width: 109px;
    margin: 0;
    padding: 0;
}

.lineLong {
    border: 2px solid rgb(75, 71, 255, 1);
    width: 484px;
    margin: 0;
    padding: 0;
}

.imgDBlue {
    position: absolute;
    left: 0;
    margin-top: 10vh;
    z-index: 0;
}

.imgLBlue {
    position: absolute;
    right: 0;
    z-index: 0;
    margin-top: -700px;
}


// mobile potfolio ON
@media (max-width: 1669px) {
    .portfolioHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lineShort {
        margin-right: 0px;
    }

    .lineLong {
        margin-left: 0px;
        width: 109px;
    }
}

@media (max-width: 1300px) {
    .imgDBlue {
        display: none;
    }
}

@media (max-width: 1200px) {
    .mainPortfolioContainer {
        p {
            margin-bottom: -50px;
        }
    }
}

@media (max-width: 950px) {
    .textSelection {
        width: 86%;
    }
}

@media (max-width: 930px) {
    .imgLBlue {
        display: none;
    }
}

@media (max-width: 760px) {
    .imgDBlue {
        display: none;
    }
}

@media (max-width: 630px) {
    .portfolioHeader {
        span {
            font-size: 45px;
        }
    }

    .textSelection {
        width: 76vw;
    }

    .imgLBlue {
        margin-top: -440px;
    }
}