<div class="About-Me" id="aboutMe">
    <div class="leftDiv-Text">
        <span>About me</span>
        <div class="mainLongText">
            <p>
                Hello! My name is Emanuel Schäfer, and I'm a frontend developer.
                I have been living in Paraguay for 2.5 years and originally come from Ulm, Germany.
                I take joy in creating things from nothing. Driven by innovation,
                my goal is to contribute to solutions that are both modern and user-focused.
            </p>
            <div class="divCenter">
                <img src="/assets/img/bulb desktop.png">
                <p>
                    I learned my skills at the Developer Academy,
                    where feedback from mentors transformed my passion into precision.
                    This is where I really learned to combine form and function to create accessible and engaging web experiences.
                </p>
            </div>
            <div class="divBelow">
                <img src="/assets/img/puzzle desktop.png">
                <p>
                    Beyond the world of code, I find balance and discipline through playing handball.
                    The teamwork, strategy and resilience required on the pitch also flow into my professional ethics.
                </p>
            </div>
        </div>
    </div>
    <div class="rightDiv-img">
        <div class="profileDiv">
            <div class="profileImg">
                <img class="emanuelImgTwo" src="/assets/img/IMG_6522.png">
            </div>
            <div class="lineForImg"></div>
        </div>
        <img class="right-img" src="/assets/img/Purple shadow (1).png">
    </div>
</div>