<div class="mainContactContainer" id="contact">
    <div class="lineHDiv">
        <div class="lineContact"></div>
        <span class="Contact">{{ translationService.getTranslation('contactTitle') }}</span>
    </div>

    <div class="space-between">
        <div class="textContainer">
            <span class="textDown">{{ translationService.getTranslation('contactIntro') }}</span>
            <p class="longPText">{{ translationService.getTranslation('contactDescription') }}</p>
            <p class="textContactMe">{{ translationService.getTranslation('contactPrompt') }}</p>
        </div>

        <img class="lastImgBlue" src="/assets/img/D. blue 3 footer.png">

        <div class="rightContainer">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" name="contact" method="POST" data-netlify="true">
                <input type="hidden" name="form-name" value="contact" />
                <div class="inputTextarea">
                    <div class="divCenter">
                        <input type="text" id="name" placeholder="Your name" name="name" [(ngModel)]="contactData.name"
                            required minlength="5">
                    </div>
                    <div class="divCenter">
                        <input type="email" id="email" placeholder="Your email" name="email"
                            [(ngModel)]="contactData.email" required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    </div>
                    <div class="divCenter">
                        <textarea id="message" placeholder="Your message" name="message"
                            [(ngModel)]="contactData.message" required minlength="10"></textarea>
                    </div>
                </div>
                <div class="centerDivbb">
                    <div class="boxDiv">
                        <input type="checkbox" class="checkboxS" name="agreed" [(ngModel)]="contactData.agreed"
                            required>
                        <p>
                            {{ translationService.getTranslation('privacyPolicyAgreement') }}
                            <a (click)="dataProtection()">{{ translationService.getTranslation('privacyPolicyLink')
                                }}</a>
                            {{ translationService.getTranslation('andAgree') }}
                        </p>
                    </div>
                    <input class="buttonSend" [class.buttonActive]="contactForm.valid && contactData.agreed"
                        type="submit" value="Send Message :)">
                </div>
            </form>
        </div>
    </div>
</div>
<a href="#landing-page">
    <img class="buttonImgGU" src="/assets/img/Go up button.png" alt="Go up">
</a>