<div class="mainContactContainer" id="contact">
    <div class="lineHDiv">
        <div class="lineContact"></div>
        <span class="Contact">{{ translationService.getTranslation('contactTitle') }}</span>
    </div>

    <div class="space-between">
        <div class="textContainer">
            <span class="textDown">{{ translationService.getTranslation('contactIntro') }}</span>
            <p class="longPText">{{ translationService.getTranslation('contactDescription') }}</p>
            <p class="textContactMe">{{ translationService.getTranslation('contactPrompt') }}</p>
        </div>

        <img class="lastImgBlue" src="/assets/img/D. blue 3 footer.png">

        <div class="rightContainer">
            <!-- Statische Version für Netlify-Erkennung -->
            <form name="contact" action="/thanks" method="POST" data-netlify="true" style="display: none;">
                <input type="hidden" name="form-name" value="contact">
                <input type="text" name="name" placeholder="Your name">
                <input type="email" name="email" placeholder="Your email">
                <textarea name="message" placeholder="Your message"></textarea>
                <button type="submit">Send</button>
            </form>

            <!-- Dynamisches Angular-Formular -->
            <form #contactForm="ngForm" name="contact" method="POST" data-netlify="true" (ngSubmit)="onSubmit()"
                style="display: block;">
                <input type="hidden" name="form-name" value="contact">
                <input type="hidden" name="bot-field">

                <div class="inputTextarea">
                    <div class="divCenter">
                        <input type="text" id="name" placeholder="Your name" name="name" ngModel #name="ngModel"
                            required minlength="5">
                    </div>
                    <div class="divCenter">
                        <input type="email" id="email" placeholder="Your email" name="email" ngModel #email="ngModel"
                            required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    </div>
                    <div class="divCenter">
                        <textarea id="message" placeholder="Your message" name="message" ngModel #message="ngModel"
                            required minlength="10"></textarea>
                    </div>
                </div>

                <div class="centerDivbb">
                    <div class="boxDiv">
                        <input type="checkbox" class="checkboxS" name="agreed" ngModel #agreed="ngModel" required>
                        <p>
                            {{ translationService.getTranslation('privacyPolicyAgreement') }}
                            <a (click)="dataProtection()">{{ translationService.getTranslation('privacyPolicyLink')
                                }}</a>
                            {{ translationService.getTranslation('andAgree') }}
                        </p>
                    </div>
                    <button class="buttonSend" [class.buttonActive]="contactForm.valid" type="submit">Send Message
                        :)</button>
                </div>
            </form>
        </div>
    </div>
</div>
<a href="#landing-page">
    <img class="buttonImgGU" src="/assets/img/Go up button.png" alt="Go up">
</a>