.mainProjectsContainer:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
    gap: 120px;
}

.mainProjectsContainer:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.projectImgDiv,
.projectTextButtonDiv {
    flex: 1;
}

.projectTextButtonDiv {
    padding: 0 20px;
}

.textProjectDiv {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;
    margin-top: 23px;
    margin-bottom: 35px;
}

.spanName {
    font-size: 32px;
    font-weight: 700;
    color: rgba(75, 71, 255, 1);
}

.spanLanguages {
    font-size: 23px;
    font-weight: 400;
    color: rgba(0, 190, 232, 1);
}

.buttonProjectDiv {
    display: flex;
    align-items: center;
    gap: 86px;
}

.buttonLiveTest {
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    background-color: rgba(75, 71, 255, 1);
    border: 1px solid rgba(75, 71, 255, 1);
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: rgba(0, 190, 232, 1);
    }
}

.buttonGit {
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 23px;
    background-color: #141d2f;
    border: 1px solid rgba(0, 190, 232, 1);
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: rgba(0, 190, 232, 1);
    }
}