.MeContainer {
    padding-top: 83px;
    min-height: 100vh;
}

.emanuelImgOne {
    position: absolute;
    height: 705px;
    top: 140px;
    left: -160px;
}

.mainTextContainerOne {
    display: flex;
    align-items: center;
}

.neighborDiv {
    display: flex;
    align-items: center;
}

.textLeft {
    transform: rotate(-90deg);
    font-size: 80px;
    color: white;
    font-family: "Poppins", sans-serif;
}

.centerDivContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -155px;
}

.textName {
    font-size: 77px;
    font-weight: 600;
    color: white;
}

.colorBlue {
    color: rgba(75, 71, 255, 1);
    font-weight: 400;
}

.introduceDiv {
    margin-bottom: 200px;
    margin-left: -55px;
}

.animationDivImg {
    display: block;
    margin: 0 auto;
}

.talkButton {
    margin-top: 50px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
    background-color: #00BEE8;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 180px;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgba(75, 71, 255, 1);
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.background-form-container {
    position: relative;
    min-height: 300px;
    height: 50vh;
    overflow: hidden;
    margin-top: -374px;
}

.background-form {
    width: 100vw;
    height: 50vh;
    min-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -280px;
}

.mainContainerTwo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 42px;
    z-index: 100;
}

.blueLine {
    width: 100px;
    border: 2px solid rgba(75, 71, 255, 1);
    height: 0;
    left: 0;
}

.gmailStyle {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.scrollDown {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-right: 35px;
    animation: bounce 2s ease-in-out infinite;
    animation-delay: 1s;

    p {
        transform: rotate(90deg);
        font-size: 23px;
        font-weight: 400;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(20px);
    }

    20%,
    40% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(20px);
    }
}


// mobile landing-page scss ON
@media (max-width: 1669px) {
    .textLeft {
        font-size: 60px;
    }

    .textName {
        font-size: 60px;
    }
}

@media (max-width: 1580px) {
    .textLeft {
        font-size: 45px;
    }

    .textName {
        font-size: 45px;
    }

    .introduceDiv {
        margin-left: -50px;
    }
}

@media (max-width: 1372px) {
    .mainTextContainerOne {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .backgroundImgEl {
        transform: rotate(-90deg);
    }

    .bildMargin {
        margin: 0 auto;
    }

    .emanuelImgOne {
        height: 650px;
        top: 32px;
        display: flex;
        position: absolute;
        margin-left: -100px;
        left: auto;
    }

    .background-form {
        width: 160vw;
    }

    .introduceDiv {
        z-index: 111;
        margin-left: 0px;
        margin-top: -198px;
    }

    .mainContainerTwo {
        margin-top: -135px;
    }

    .background-form-container {
        margin-top: -535px;
    }

    .contactContainer {
        margin-top: 45px;
    }
}

@media (max-width: 870px) {
    .maxN {
        display: none;
    }
}

@media (max-width: 800px) {
    .background-form {
        width: 235vw;
    }
}

@media (max-height: 729.60px) {
    .background-form-container {
        margin-top: -215px;
    }

    .contactContainer {
        margin-top: -160px;
    }
}

@media (max-width: 670px) {
    .backgroundImgEl {
        margin-left: -50px;
    }

    .textName {
        font-size: 30px;
    }

    .textLeft {
        font-size: 30px;
    }

    .introduceDiv {
        margin-top: -180px;
    }

    .emanuelImgOne {
        margin-left: -180px;
    }
}

@media (max-height: 667px) {
    .contactContainer {
        margin-top: 80px;
    }
}

@media (max-width: 550px) {
    .emanuelImgOne {
        margin-left: -235px;
    }
}

@media (max-width: 500px) {
    .scrollDown {
        display: none;
    }

    .mainContainerTwo {
        margin-top: -50px;
        gap: 32px;
    }

    .emanuelImgOne {
        margin-left: -280px;
    }
}

@media (max-width: 450px) {
    .talkButton {
        margin-right: 50px;
    }

    .textName {
        font-size: 21px;
    }

    .textLeft {
        font-size: 21px;
    }
}

@media (max-width: 440px) {
    .emanuelImgOne {
        margin-left: -233px;
        height: 550px;
        top: 135px;
    }

    .mainContainerTwo {
        gap: 26px;
    }

    .backgroundImgEl {
        transform: rotate(0deg);
    }
}

@media (max-width: 414px) {
    .emanuelImgOne {
        margin-left: -215px;
        height: 550px;
        top: 80px;
    }

    .introduceDiv {
        margin-top: -230px;
    }
}

@media (max-width: 375px) {
    .background-form-container {
        margin-top: -408px;
    }

    .emanuelImgOne {
        margin-left: -230px;
        height: 550px;
        top: 133px;
    }

    .mainContainerTwo {
        gap: 16px;
    }

    .introduceDiv {
        margin-top: -200px;
    }
}

@media (max-height: 667px) and (max-width: 375px) {
    .background-form-container {
        margin-top: -380px;
    }
}

@media (max-height: 812px) and (max-width: 375px) {
    .introduceDiv {
        margin-top: -193px;
        margin-bottom: 165px;
    }
}