<section class="MeContainer">
    <div class="mainTextContainerOne" id="landing-page">

        <div class="bildMargin">
            <img class="backgroundImgEl" src="/assets/img/Photo shadows.png">
            <img class="emanuelImgOne" src="/assets/img/blue500.png">
        </div>

        <div class="introduceDiv">
            <div class="neighborDiv">
                <div class="textLeft">
                    <span>I am</span>
                </div>
                <div class="centerDivContainer">
                    <div class="textName">
                        <span>EMANUEL SCHÄFER</span><br>
                        <span class="colorBlue">FRONTEND DEVELOPER</span>
                    </div>
                    <div class="talkButton">
                        <a href="#contact"
                            (click)="letsTalkSection($event, 'contact')">{{translationService.getTranslation('LetsTalk')}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="background-form-container">
    <img class="background-form" src="/assets/img/separator-form.png">
</div>
<section class="contactContainer">
    <div class="mainContainerTwo">
        <div class="blueLine"></div>
        <div class="animationDivImg">
            <a href="https://github.com/EmanuelSchaefer"><img src="/assets/img/Github button.png"></a>
        </div>
        <div class="animationDivImg">
            <a href="mailto:contact@emanuel-schaefer.com"><img src="/assets/img/Email button.png"></a>
        </div>
        <div class="animationDivImg">
            <a href="https://www.linkedin.com/in/emanuel-sch%C3%A4fer/"><img src="/assets/img/Linkedin button.png"></a>
        </div>
        <div class="maxN">
            <a class="gmailStyle" href="#contact">contact&#64;emanuel-schaefer.com</a>
        </div>
    </div>
    <div class="scrollDown">
        <p>Scroll down</p>
        <img src="/assets/img/Vector.png">
    </div>
</section>