.mainSkill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    width: 100%;
}

.rightIcon-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30vw;
    margin-left: 100px;
    gap: 99px;
    z-index: 1;
}

.iconDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: white;
    gap: 10px;
}

.img-blueSkills {
    position: absolute;
    left: 0;
    margin-top: 880px;
}

.leftSkill-container {
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: white;

    span {
        font-size: 90px;
        font-weight: 700;
        line-height: 120%;
    }
}

.line-skills {
    width: 58px;
    border: 2px solid rgba(75, 71, 255, 1);
}

.neaberC {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.p-text {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    text-align: right;
    width: 395px;
    margin-left: -25px;
}

.button-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 44px;
    margin-left: 123px;
    width: 200px;
    height: 58px;
    border-radius: 10px;
    background: rgba(0, 190, 232, 1);
    cursor: pointer;

    &:hover {
        background: rgba(75, 71, 255, 1);
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 23px;
        font-weight: 400;
    }
}

.imgAnimation {
    height: fit-content;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-10px);
    }
}