<div class="mainImprintContainer">
    <div class="boxImprint">
        <h1>Impressum</h1>

        <span>According to § 5 TMG</span>

        <div class="dreiDiv">
            <p>Emanuel Schäfer</p>
            <p>Carlos Reverchon</p>
            <p>Hohenau 6290</p>
        </div>

        <span class="kontakt">Contact</span>

        <div class="zweiDiv">
            <p>Phone: +595 994 852395</p>
            <p>E-Mail: emanuel-schaefer1&#64;web.de</p>
        </div>

        <p class="aDiv">
            Quelle:<a href="https://www.e-recht24.de/impressum-generator.html"> https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>


<div class="scrollToDp">
    <p>Privacy Policy</p>
    <img src="/assets/img/Vector.png">
</div>


<!--Separation of categories-->


<div class="mainDataProtectionContainer">
    <div class="boxDataProtection">
        <h1>Privacy Policy</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, odio exercitationem quam
            optio iste autem laboriosam sit voluptate pariatur,commodi facilis nobis veritatis error
            laudantium natus asperiores dolor voluptas repudiandaeLorem, ipsum dolor sit amet consectetur
            adipisicing elit. Soluta enim aut saepe, molestias, nostrum debitis eveniet, officiis perferendis
            dignissimos laboriosam temporibus beatae consequuntur? Autem debitis, quibusdam maxime adipisci
            tenetur cum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem rem voluptatem temporibus
            cupiditate voluptates odio, quisquam asperiores unde dolores cumque iusto fugiat praesentium voluptas
            cum commodi necessitatibus. Tempora, consectetur eius!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima itaque at quaerat, obcaecati,
            natus, voluptates odit sit perspiciatis saepe incidunt vitae esse accusantium iure rem voluptatem voluptas
            recusandae. Provident, corporis!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia facilis ad consectetur eligendi itaque
            aliquid
            iusto suscipit totam repellendus rerum sunt ipsum nihil beatae expedita, quam molestiae cum odio ullam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam enim accusantium aspernatur ratione
            repellendus
            a eveniet labore nemo illum magni molestiae ab debitis unde illo vel, libero commodi? Magnam, fugiat?
        </p>
    </div>
</div>