<div class="mainImprintContainer">
    <div class="boxImprint">
        <h1>Impressum</h1>

        <span>{{ translationService.getTranslation('imprintAccordingTo') }}</span>

        <div class="dreiDiv">
            <p>Emanuel Schäfer</p>
            <p>Carlos Reverchon</p>
            <p>Hohenau 6290</p>
        </div>

        <span class="kontakt">{{ translationService.getTranslation('contactTitle') }}</span>

        <div class="zweiDiv">
            <p>Phone: +595 994 852395</p>
            <p>E-Mail: contact&#64;emanuel-schaefer.com</p>
        </div>

        <p class="aDiv">
            Quelle:<a href="https://www.e-recht24.de/impressum-generator.html">
                https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>


<div class="scrollToDp">
    <p>Privacy Policy</p>
    <img src="/assets/img/Vector.png">
</div>


<!--Separation of categories-->


<div class="mainDataProtectionContainer">
    <div class="boxDataProtection" id="minScroll">
        <span class="hOneDz" id="hOneDz">{{ translationService.getTranslation('dataProtectionDeclaration') }}</span>
        <h2>{{ translationService.getTranslation('dataProtectionAtAGlance') }}</h2>
        <h3>General information</h3>
        <p>{{ translationService.getTranslation('generalText') }}</p>
        <h3>{{ translationService.getTranslation('dataCollectionTitle') }}</h3>
        <h4>{{ translationService.getTranslation('responsibleForDataCollection') }}</h4>
        <p>{{ translationService.getTranslation('dataProcessingInfo') }}</p>
        <h4>{{ translationService.getTranslation('dataCollectionMethodTitle') }}</h4>
        <p>{{ translationService.getTranslation('dataProvided') }}</p>
        <p>{{ translationService.getTranslation('dataCollectedAutomatically') }}</p>
        <h4>{{ translationService.getTranslation('dataUsageTitle') }}</h4>
        <p>{{ translationService.getTranslation('dataUsageDescription') }}</p>
        <h4>{{ translationService.getTranslation('dataRightsTitle') }}</h4>
        <p>{{ translationService.getTranslation('dataRightsDescription') }}</p>
        <p>{{ translationService.getTranslation('contactUs') }}</p>
        <h2>{{ translationService.getTranslation('hostingSectionTitle') }}</h2>
        <p>{{ translationService.getTranslation('hostingContentIntro') }}</p>
        <h3>{{ translationService.getTranslation('externalHostingTitle') }}</h3>
        <p>{{ translationService.getTranslation('externalHostingDescription') }}</p>
        <p>{{ translationService.getTranslation('externalHostingPurpose') }}</p>
        <p class="aDiv">
            Quelle:<a href="https://www.e-recht24.de/muster-datenschutzerklaerung.html">
                https://www.e-recht24.de/muster-datenschutzerklaerung.html</a>
        </p>
    </div>
</div>