<section class="MeContainer">
    <div class="mainTextContainerOne" id="startP">

        <img src="/assets/img/Photo shadows.png">
        <img src="">

        <div class="introduceDiv">
            <div class="neighborDiv">
                <div class="textLeft">
                    <span>I am</span>
                </div>
                <div class="centerDivContainer">
                    <div class="textName">
                        <span>EMANUEL SCHÄFER</span><br>
                        <span class="colorBlue">FRONTEND DEVELOPER</span>
                    </div>
                    <div class="talkButton">
                        <a href="#contact">Let's talk!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<img class="background-form" src="/assets/img/separator-form.png">
<section class="contactContainer">
    <div class="mainContainerTwo">
        <div class="blueLine"></div>
        <div class="animationDivImg">
            <a href="https://github.com/EmanuelSchaefer"><img src="/assets/img/Github button.png"></a>
        </div>
        <div class="animationDivImg">
            <a href="manuel-schaefer@web.de"><img src="/assets/img/Email button.png"></a>
        </div>
        <div class="animationDivImg">
            <a href="manuel-linkedin"><img src="/assets/img/Linkedin button.png"></a>
        </div>
        <div>
            <a class="gmailStyle" href="mauel@gmail.com">E.Schafer;web.de</a>
        </div>
    </div>
    <div class="scrollDown">
        <p>Scroll down</p>
        <img src="/assets/img/Vector.png">
    </div>
</section>